 /* Customizing Button Colors */
 .btn {
    background-color: #006400; /* Dark green */
    color: white;
}

/* Add this to your CSS file */
.logo-link {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Keeps the text color as it is */
}


.btn.secondary {
    background-color: #228B22; /* Slightly lighter green */
}

.btn:hover {
    background-color: #004d00; /* Darker green for hover effect */
}

/* Hero Section Styles */
#hero {
    background-color: #f4f4f4;
    padding: 80px 0;
    text-align: center;
}

/* About Section */
#about-us {
    padding: 60px 0;
    background-color: #e2f2e1;
}

.impact-metrics {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.metric {
    text-align: center;
    font-size: 1.2em;
}

/* How It Works Section */
#how-it-works {
    padding: 60px 0;
}

.how-it-works-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.step {
    width: 30%;
    margin: 20px;
    text-align: center;
}

/* Get Involved Section */
#get-involved {
    padding: 60px 0;
    background-color: #e2f2e1;
}

.stories {
    display: flex;
    justify-content: space-around;
}

.story img {
    max-width: 100%;
    border-radius: 10px;
}

/* CTA Section */
#cta {
    padding: 60px 0;
    background-color: #006400;
    color: white;
    text-align: center;
}

.cta-buttons a {
    margin: 10px;
}

/* Footer */
footer {
    background-color: #222222;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .social-icons {
    margin-top: 10px;
}
